* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
#div1 {
    position: relative;
    height: 90vh;
    width: 80%;
    color: white;
    margin: auto;
    perspective: 350px;
    overflow: hidden;
  }
  #div2 {
    position: relative;
    animation: crawl 60s linear;
}
p {
    font-size: 2rem;
}
@keyframes crawl {
    0% {
        top:90%;
        transform: rotateX(20deg) translateZ(0px);
    }
    100% {
        top: -100%;
        transform: rotateX(20deg) translateZ(-500px);
    }
}